.root {
    width: 100%;
    padding: 1.2em;
    margin-top: 2em; 
    overflow: hidden; 
}

.table{
    max-width: 700px;
}


.formCandidate input {
    width: 50%; 
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px; 
    resize: vertical 
  }

  