.root {
  flex-grow: 1;
  margin-top: 0;
  margin: 0;
  padding: 0;
  height: 100%;
}

.styleHeader {
  display: 'flex';
  padding: 0;
  color: '#2c3345';
  flex-direction: row;
}
.styleHeader li {
  list-style: none;
  display: inline-block;
}

.flexContainer {
  color: '#2c3345';
  background-color: '#5486ff';
}

.styleHeader {
  display: inline-block;
  padding: 0;
  color: '#2c3345';
}

.styleHeader button {
  border: none;
}

.body {
  min-height: 100%;
  position: relative;
}

.notification li {
  list-style: none;
  display: inline-block;
}
.notification li:hover {
  cursor: pointer;
}
.notificationButton {
  border: none;
}

.search li {
  list-style: none;
  display: inline-block;
}

.search input[type='text'] {
  border-top: thin solid #e5e5e5;
  border-right: thin solid #e5e5e5;
  border-bottom: 0;
  border-left: thin solid #e5e5e5;
  box-shadow: 0px 1px 1px 1px #e5e5e5;
  float: left;
  margin: 0.8em 0 0 0.5em;
  outline: 0;
  padding: 0.4em 0 0.4em 0.6em;
  width: 183px;
}

.search button {
  background-color: #f1f1f1;
  border-top: thin solid #e5e5e5;
  cursor: pointer;
  float: left;
  height: 36px;
  margin: 11px 0 0 0;
  text-align: center;
  width: 50px;
}

.layoutheader {
  display: inline-block;
  width: 33%;
}

.footer {
  position: relative;
  clear: both;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 180px;
}

.loginform li {
  list-style: none;
}
