
.root{
  flex-grow: 1; 
  margin-top: 0;
  margin:0;
  padding:0;
  height:100%;
}


.styleHeader {
  display: 'flex';
  padding: 0;
  color:"#2c3345"; 
  flex-direction: row; 
}


.flexContainer{
  color:"#2c3345";
  background-color: "#5486ff"; 
};

    
.styleHeader{
  display: inline-block; 
  padding: 0;
  color:"#2c3345"; 
    }

 .styleHeader button{
    border: none; 
  }

 .body{
    min-height:100%;
    position:relative;
   }


 .notification{
    margin-left: 100px; 
  }
  
  .notification li{
    list-style: none; 
    display: inline-block;

  }
  .notification li:hover{
    cursor: pointer;
  }
  .notificationButton{
    border: none; 
  }

  .search{
    margin-left: 400px; 
    
  }
  .search li{
    list-style: none; 
    display:inline-block; 
   

  }
  .searchInput{
    width: 250px; 
    border: white
  }
  .icon {
    position: relative;
    top: 8px;
    margin-bottom: 1px;
    border: white; 
    left: 0px;
    color: black; 
    background: white; 
    height: 23px; 
    cursor: pointer; 
   }
 

  .footer {
    position: relative;
    clear: both; 
    left: 0;
    bottom: 0;
    width: 100%;
    height: 180px;
 }
 
 .loginform li{
  list-style: none; 
 }
 