
    .root{
      flex-grow: 1; 
      margin-top: 0;
      margin:0;
      padding:0;
      height:100%;
    }


.styleHeader {
  display: 'flex';
  padding: 0;
  color:"#2c3345"; 
  flex-direction: row; 
}

    .flexContainer{
      color:"#2c3345";
      background-color: "#5486ff"; 
    };

    .footer {
      position: fixed;
      bottom: 0;
      width: 25%;
    }

    .styleHeader{
        display: inline-block; 
        padding: 0;
        color:"#2c3345"; 
    }
    .styleHeader button{
     border: none; 
  }

    .container{
      min-height:100%;
      position:relative;
   }

   .Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  .Site-content {
    flex: 1;
  }

  .notification{
    margin-left: 300px; 
  }
  


  .notification li{
    list-style: none; 
    display: inline-block;
    padding: 1em; 

  }

  .search{
    margin-left: 400px; 
    
  }
  .search li{
    list-style: none; 
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center
 }