

.header {
  grid-area: hd;
}
.footer {
  grid-area: ft;
}
.content {
  grid-area: main;
}
.sidebar {
  grid-area: sd;
}

.logo{
  grid-area: lg; 
}


.wrapper{
   display: grid;
   grid-row-gap: 0;
    grid-template-columns: 250px 250px;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: 
        "lg hd hd hd   hd   hd   hd   hd   hd"
        "sd main main main main main main main main"
        "ft ft ft ft   ft   ft   ft   ft   ft";
  }

.wrapper > div {
  border: 2px solid rgb(90, 80, 110);
  padding: 1em;
  color: #4f10c5;
}


@media (min-width: 500px) {
  .wrapper {
      grid-template-columns: repeat(9, 1fr);
      grid-template-areas: 
        "lg hd hd hd   hd   hd   hd   hd   hd"
        "sd main main main main main main main main"
        "ft ft ft ft  ft   ft   ft   ft   ft";
  }
}

@media (min-width: 700px) {
  .wrapper {
      grid-template-areas: 
      "lg hd hd hd   hd   hd   hd   hd   hd"
      "sd main main main main main main main main"
      "ft ft ft ft  ft   ft   ft   ft   ft";
  }
}


