
.wrapper{
  display: grid;
 grid-row-gap: 0;
  grid-template-columns: 250px 250px;
  grid-auto-rows: minmax(100px, auto);
}



.app-header {
  grid-column: 2/4;
  grid-row: 1;
  color: white;
}

.wrapper > div {
  border: 2px solid rgb(90, 80, 110);
  padding: 1em;
  color: #4f10c5;
}

.logo{
  grid-column: 1;
  grid-row: 1; 
}

.mainbody{
  grid-column: 2 / 4;
  grid-row: 2/8;
}

.sidebar{
  grid-column: 1;
  grid-row: 2 / 8;
}

.footer{
  grid-column: 1/4;
  grid-row: 8/10;
}